
p{
    text-align: center;
}

body{
    background: #CCCCCC;
}

.titulo{
    text-align: left;
    padding-left: 20px;
}

.banner1{
    width: 100%;
    
}

.banner2{
    width: 30%;
    padding-top: 20px;
}

.banner3{
    width: 100%;
    
}

h1{
    text-align: center; 
    font-size: 40px;
}

#missao{
    font-size: 20px;
}


b{
    color: red;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 35%;
}

h2{
    text-align: center;
}

.vantagens {
    padding: 8px;
    padding-left: 40px;
    font-size: 20px;
}

.historia{
    padding: 70px;
    font-size: 20px;
}

.principal{
    padding: 30px;
    font-size: 25px;
}